@import "bootstrap-sprockets";
@import "bootstrap";

html, body {
  height: 100%;
}

#wrapper {
    min-height: 100%;
    position: relative;
}

footer {
    bottom: 0;
    height: 50px;
    left: 0;
    position: absolute;
    width: 100%;
    text-align: center;
}

footer div {
  border-top: 1px solid #ccc;
}
