<h1>Profile Image Overlay</h1>

<div class="row">
  <div class="col-md-8"><h3>Test Images</h3></div>
  <div class="col-md-4"><h3>Result</h3></div>
</div>

<div class="row">
  <div class="col-md-4"><%= image_tag 'minions.png' %></div>
  <div class="col-md-4"><%= image_tag 'overlay_flag.png' %></div>
  <div class="col-md-4"><%= image_tag 'profile_overlay.png' %></div>
</div>
