<div class="well"><center>
  <h1>Welcome!</h1>
  <p>
    <%= image_tag 'default.jpg', alt: 'Create Facebook Profile Image', class: 'img-responsive' %>
  </p>
  <p class="warning">
    Publish button will not work at this moment. Please download the image and upload to facebook.
  </p>
  <p>Create Nepalese patriotic profile images for Facebook.</p>
  <p><%= link_to "Login with Facebook", auth_provider_url, class: 'btn btn-success btn-lg' %></p>
</center></div>
