<div class="well"><center>
	<h1>Irish Fans!</h1>
	<h3>Show that you are one of the <a href="#">#BestFansInTheWorld!</a></h3>
	<br>
	<h5>Update your Facebook to show your support!</h5>
	<h2><a href="#">#COYBIG</a></h2>

	<br>
  	<p><%= link_to "Login with Facebook", auth_provider_url, class: 'btn btn-success btn-lg' %></p>
  	<br>
</center></div>
