<p>Create Nepalese patriotic profile images for Facebook.</p>

<div class="alert alert-warning alert-dismissible" role="alert">
  <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
  Publish button will not work at this moment. Please download the image and upload to facebook.
</div>

<div class="row">
  <% @overlay_images.each do |image|  %>
    <div class="col-md-3 col-sm-6 col-xs-12 pdbtm-sm">
      <p><%= image_tag "https://s3.amazonaws.com/profile-overlay-assets/#{current_user.uid}_#{image}",
              class: 'img-responsive', data: {action: 'zoom'} %></p>
      <div class="row">
        <div class="col-md-6 col-sm-6">
          <%= link_to 'Publish', publish_path(image: image.split('.').first),
              class: 'btn btn-primary btn-block', target: '_blank' %>
        </div>
        <div class="col-md-6 col-sm-6">
          <%= link_to 'Download', download_path(image: image.split('.').first),
              class: "btn btn-success btn-block" %>
        </div>
      </div>
    </div>
  <% end %>
</div>
