<footer>
  <p class="col-md-12 col-sm-12 col-xs-12">
    Copyright &copy; 2015. All Rights Reserved. Developed with
    <span class="glyphicon glyphicon-heart"></span>
    by Lal Bahadur Saud. Source code shared @
    <a href="https://github.com/lalusaud/profile_overlay" target="_blank">Github</a>.
    Overlay images credit by various artists.
  </p>
</footer>

<script>
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

  ga('create', 'UA-36684515-1', 'auto');
  ga('send', 'pageview');
</script>
